.box {
    width: 100%;
    height:fit-content;
    position: relative;
    background-color: black;
    color: white;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
  }

.logos{
    position: relative;
    color: blue;
    height: 75px;
    margin-top: 25px;
    margin-bottom: 25px;
}